// body {
//     background-color: lightblue;
// }

.container {
    position: relative;
    display: flex;
    height: 100vh;
}

.A {
    // flex: 1;
    background: lightblue;

    width: 50%;
    height: 100px;
}

.B {
    // flex: 1;
    background: lightgray;

    width: 50%;
    height: 100px;
}

.separator {
    width: 2px;
    height: 100%;
    background-color: gray;
    cursor: col-resize;
}
